@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --bg-color: #141414;
    --nav-link-color: #e5e5e5;
    --nav-link-hover-color: #b9b8b8;
    --submenu-border-color: #5a5a5a;
    --play-btn-rgb-color: 255, 255, 255;
    --info-btn-rgb-color: 97, 97, 97;
}

html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: var(--bg-color);
    color: white;
}

.selected {
    font-weight: bold;
}

.inactive {
    opacity: 0;
    visibility: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 4rem;
    background: transparent;
    height: 4.4rem;
    position: fixed;
    top: 0%;
    transition: 300ms ease-in;
}

.primary-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary-navigation #logo-img {
    height: 2.2rem;
    margin-right: 3rem;
    object-fit: cover;
}

.primary-navigation .primary-links a {
    margin: 0 0.6rem;
    color: var(--nav-link-color);
    font-size: 0.9rem;
}

.secondary-navigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}

.secondary-navigation a {
    margin: 0 0.4rem;
    color: var(--nav-link-color);
    font-size: 0.9rem;
}

.primary-navigation a:hover,
.secondary-navigation a:hover {
    color: var(--nav-link-hover-color);
    transition: 300ms;
}

.secondary-navigation .navigation-link-icon {
    height: 1.3rem;
    width: 1.3rem;
    cursor: pointer;
}

.secondary-navigation .profile-box {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.profile-box .profile-img {
    height: 2rem;
    width: 2rem;
    border-radius: 0.3rem;
}

.profile-box #arrow-down {
    height: 0.6rem;
    width: 0.6rem;
    margin-left: 0.3rem;
}

.profile-box .submenu {
    position: absolute;
    top: 1.8rem;
    left: -115px;
    width: 175px;
    margin-top: 1.7rem;
    padding: 0.7rem 0;
    display: block;
    background-color: #000;
    transition: all 200ms;
    opacity: 0;
    visibility: hidden;
    transition: 300ms;
    border: 1px solid var(--submenu-border-color);
}

.profile-box:hover .submenu {
    opacity: 1;
    visibility: initial;
}

.submenu .submenu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.3rem 0.7rem;
}

.submenu .submenu-item-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-top: 1px solid var(--submenu-border-color);
    border-bottom: 1px solid var(--submenu-border-color);
    padding: 0.6rem 0;
    margin: 0.6rem 0;
}

.submenu-item a {
    font-size: 0.8rem;
    color: var(--nav-link-color);
}

.submenu-item img {
    height: 2rem;
    width: 2rem;
    border-radius: 0.3rem;
}

.submenu-item .submenu-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.3rem;
    object-fit: cover;
}

.featured-movie {
    background-image: url(./assets/theme-bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.featured-movie .wrapper {
    padding: 12rem 0 12rem 4rem;
    margin-bottom: 4rem;
    max-width: 700px;
}

.featured-movie .wrapper h1 {
    font-size: 4.5rem;
    font-weight: bold;
}

.featured-movie .wrapper h4 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.featured-movie .wrapper p {
    font-size: 1.3rem;
    margin-top: 1rem;
    line-height: 1.8rem;
    font-weight: 500;
}

.wrapper .button-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1.5rem;
}

.button-box #play-icon,
.button-box #info-icon {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}

.button-box .featured-movie-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 300ms;
}

.button-box #play-button {
    background-color: rgba(var(--play-btn-rgb-color));
    color: #000;
}

.button-box #play-button:hover {
    background-color: rgba(var(--play-btn-rgb-color), 0.75);
}

.button-box #info-button {
    margin-left: 0.9rem;
    color: white;
    background-color: rgba(var(--info-btn-rgb-color));
}

.button-box #info-button:hover {
    background-color: rgba(var(--info-btn-rgb-color), 0.75);
}

.carousel-container {
    margin-top: -100px;
    padding-left: 4rem;
}

.carousel-container section {
    margin-bottom: 1rem;
}

.carousel-container .carousel-items {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.carousel-container .carousel-wrapper {
    position: relative;
}

.carousel-items .carousel-card {
    flex: none;
    pointer-events: none;
    margin-top: 1.2rem;
}

.carousel-items .carousel-card + .carousel-card {
    margin-left: 0.7rem;
}

.carousel-card img {
    width: 100%;
    border-radius: 0.3rem;
    object-fit: cover;
}

.carousel-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--nav-link-color);
    width: 3rem;
    height: 4rem;
    font-size: 4rem;
    border: none;
    transition: 300ms;
}

.carousel-container button:hover {
    font-size: 8rem;
}

#prev-button {
    position: absolute;
    left: 0.7rem;
    bottom: 5rem;
}

#next-button {
    position: absolute;
    right: 0.7rem;
    bottom: 5rem;
}

#prev-button,
#next-button {
    color: rgba(219, 0, 0, 0.65);
    font-weight: bold;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--bg-color);
    color: red;
}

footer .dev-info {
    padding: 1rem;
}

.dev-info p {
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.dev-info a {
    margin: 0 0.6rem;
}
