@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* //TODOS

Carousel
a. add button (left arrow and right arrow);

Global
a. refactor all css to be responsive; */

/* Global */

html {
    box-sizing: border-box;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    background-image: url(/assets/theme-bg.jpg);
    background-size: cover;
    height: 100vh;
    /* width: 100vw; */
    z-index: -1;
}

.logo-img {
    height: 35px;
    margin-right: 20px;
}

.link-icon {
    height: 20px;
    margin: 0 10px;
}

.profile-box {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

/* submenu */

.profile-box .submenu {
    position: absolute;
    top: 15px;
    left: -100px;
    margin-top: 28px;
    width: 180px;
    display: block;
    background-color: black;
    transition: all 200ms;
    opacity: 0;
    visibility: hidden;
}

.profile-box .submenu .submenu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 8px;
}

.profile-box .submenu #call-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.profile-box .submenu .call-center-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box .submenu .call-center-item + .call-center-item {
    margin-top: 5px;
}

.profile-box .submenu div a {
    font-size: 0.8rem;
}

.submenu div img {
    height: 35px;
    border-radius: 5px;
}

.profile-box:hover .submenu {
    opacity: 1;
    visibility: initial;
}

/* profile */

.profile-img {
    height: 35px;
    border-radius: 5px;
}

#arrow-down {
    height: 10px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 60px;
    background: transparent;
    height: 68px;
    position: fixed;
    top: 0%;
    transition: 600ms ease-in;
}

.selected {
    font-weight: bold;
}

.nav-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-box a {
    text-decoration: none;
    cursor: pointer;
    margin: 0 10px;
    color: #e5e5e5;
}

.nav-box .right-nav-link {
    padding: 0 15px;
}

.nav-box a:hover {
    color: #979696;
    transition: 300ms;
}

.featured-box {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    padding-left: 60px;
    margin-top: 90px;
    margin-bottom: 90px;
}

.featured-box h1 {
    font-size: 4.5rem;
    font-weight: bold;
}

.featured-box h4 {
    font-size: 1.5rem;
    margin-top: 15px;
}

.featured-box p {
    font-size: 1.3rem;
    margin-top: 15px;
    line-height: 1.8rem;
    font-weight: 500;
}

.button-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 22px;
}

#play-icon,
#info-icon {
    height: 30px;
}

#play-button,
#info-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#info-button {
    margin-left: 15px;
    color: white;
    background-color: #616161;
    font-size: 1.5rem;
    font-weight: bold;
}

#info-button:hover {
    background-color: rgba(97, 97, 97, 0.75);
    transition: 200ms;
}

#play-button {
    background-color: white;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

#play-button:hover {
    background-color: rgba(255, 255, 255, 0.75);
    transition: 200ms;
}

#play-button img {
    margin-right: 10px;
}

#info-button img {
    margin-right: 10px;
}

.carousel-section-wrapper h2 {
    color: #e5e5e5;
    font-weight: 700;
    line-height: 1.25rem;
    font-size: 1.6rem;
}

.section-card-item {
    margin-top: 1.2rem;
}

.section-card-item + .section-card-item {
    margin-left: 10px;
}

.section-card-item img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

/* Carousel */

.carousel-section-wrapper {
    padding-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel-cards-section-items {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.section-card-item {
    flex: none;
    pointer-events: none;
}
